@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Google Sans Code, ui-monospace, monospace;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --font-serif: Lora, serif;
    --radius: 0.25rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --radius: 0.25rem;
    --card: oklch(0.9861 0.0035 219.5322);
    --card-foreground: oklch(0.21 0.0517 251.2932);
    --popover: oklch(0.9861 0.0035 219.5322);
    --popover-foreground: oklch(0.21 0.0517 251.2932);
    --primary: oklch(0.7888 0.1349 209.5101);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.6945 0.144 164.3763);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.9722 0.0069 219.5596);
    --muted-foreground: oklch(0.5728 0.0363 235.702);
    --accent: oklch(0.9634 0.0264 214.4236);
    --accent-foreground: oklch(0.445 0.0752 215.3853);
    --destructive: oklch(0.6428 0.2064 13.9345);
    --border: oklch(0.9347 0.0118 231.6586);
    --input: oklch(0.9347 0.0118 231.6586);
    --ring: oklch(0.7033 0.1506 244.8407);
    --chart-1: oklch(0.7842 0.1358 188.1562);
    --chart-2: oklch(0.7033 0.1506 244.8407);
    --chart-3: oklch(0.6945 0.144 164.3763);
    --chart-4: oklch(0.7817 0.121 234.8831);
    --chart-5: oklch(0.7755 0.1527 165.3315);
    --sidebar: oklch(0.9861 0.0035 219.5322);
    --sidebar-foreground: oklch(0.21 0.0517 251.2932);
    --sidebar-primary: oklch(0.7888 0.1349 209.5101);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9634 0.0264 214.4236);
    --sidebar-accent-foreground: oklch(0.445 0.0752 215.3853);
    --sidebar-border: oklch(0.9347 0.0118 231.6586);
    --sidebar-ring: oklch(0.7033 0.1506 244.8407);
    --background: oklch(0.9861 0.0035 219.5322);
    --foreground: oklch(0.21 0.0517 251.2932);
    --destructive-foreground: oklch(1 0 0);
    --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Lora, serif;
    --font-mono: Google Sans Code, ui-monospace, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.01;
    --shadow-blur: 1px;
    --shadow-spread: 0.5px;
    --shadow-offset-x: -0.5px;
    --shadow-offset-y: 0.5px;
    --letter-spacing: 0.025em;
    --spacing: 0.25rem;
    --shadow-2xs: -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01);
    --shadow-xs: -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01);
    --shadow-sm:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 1px 2px -0.5px hsl(0 0% 0% / 0.01);
    --shadow:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 1px 2px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-md:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 2px 4px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-lg:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 4px 6px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-xl:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 8px 10px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-2xl: -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.03);
    --tracking-normal: 0.025em;
}

.dark {
    --background: oklch(0.2373 0.0368 238.1858);
    --foreground: oklch(0.9861 0.0035 219.5322);
    --card: oklch(0.2373 0.0368 238.1858);
    --card-foreground: oklch(0.9861 0.0035 219.5322);
    --popover: oklch(0.2373 0.0368 238.1858);
    --popover-foreground: oklch(0.9861 0.0035 219.5322);
    --primary: oklch(0.7888 0.1349 209.5101);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.6945 0.144 164.3763);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.551 0.027 264.364);
    --muted-foreground: oklch(0.707 0.022 261.325);
    --accent: oklch(0.5874 0.0977 196.616);
    --accent-foreground: oklch(0.983 0.0133 214.3573);
    --destructive: oklch(0.3996 0.1321 14.1834);
    --border: oklch(0.2959 0.0314 239.9199);
    --input: oklch(0.2959 0.0314 239.9199);
    --ring: oklch(0.7033 0.1506 244.8407);
    --chart-1: oklch(0.7842 0.1358 188.1562);
    --chart-2: oklch(0.7033 0.1506 244.8407);
    --chart-3: oklch(0.6945 0.144 164.3763);
    --chart-4: oklch(0.7817 0.121 234.8831);
    --chart-5: oklch(0.7755 0.1527 165.3315);
    --sidebar: oklch(0.2373 0.0368 238.1858);
    --sidebar-foreground: oklch(0.9861 0.0035 219.5322);
    --sidebar-primary: oklch(0.7888 0.1349 209.5101);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.5874 0.0977 196.616);
    --sidebar-accent-foreground: oklch(0.983 0.0133 214.3573);
    --sidebar-border: oklch(0.2959 0.0314 239.9199);
    --sidebar-ring: oklch(0.7033 0.1506 244.8407);
    --destructive-foreground: oklch(0.9861 0.0035 219.5322);
    --radius: 0.25rem;
    --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Lora, serif;
    --font-mono: Google Sans Code, ui-monospace, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.01;
    --shadow-blur: 1px;
    --shadow-spread: 0.5px;
    --shadow-offset-x: -0.5px;
    --shadow-offset-y: 0.5px;
    --letter-spacing: 0.025em;
    --spacing: 0.25rem;
    --shadow-2xs: -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01);
    --shadow-xs: -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01);
    --shadow-sm:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 1px 2px -0.5px hsl(0 0% 0% / 0.01);
    --shadow:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 1px 2px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-md:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 2px 4px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-lg:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 4px 6px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-xl:
        -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.01),
        -0.5px 8px 10px -0.5px hsl(0 0% 0% / 0.01);
    --shadow-2xl: -0.5px 0.5px 1px 0.5px hsl(0 0% 0% / 0.03);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
